[2019-12-25 18:51] lirantal opened #6 "No contributing guidelines available"
The PR template references a CONTRIBUTING.md file for contribution guidelines but the file is unavailable in the repository.

PR template text:

[code]

[2019-12-25 22:13] ealush commented on #6
Very good point. Will be taken care of. Thank you :)

[2019-12-25 22:51] ealush commented on #6
Done in https://github.com/ealush/vest/pull/8. Thanks again :)

[2019-12-25 22:51] #6 closed

[2020-05-07 07:23] ilyaLibin opened #136 "Doesn't work with typescript - cannot find nama 'array'"
![image](https://user-images.githubusercontent.com/12880486/81266016-b661d300-904c-11ea-9d6c-147993c487a8.png)

"typescript": "~3.8.3",

[2020-05-07 07:36] ilyaLibin commented on #136
[code]

[2020-05-07 08:53] ilyaLibin commented on #136
Found mismatch: "services/accounting/controllers/JournalEntriesController.js": "9448056c0b400a8b443257ec18f17bb1aca6a356" !== "undefined"
rm -rf ./dist && ./node_modules/typescript/bin/tsc
../../common/temp/node_modules/.registry.npmjs.org/vest/1.0.9/node_modules/vest/vest.d.ts(20,30): error TS2304: Cannot find name 'array'.
../../common/temp/node_modules/.registry.npmjs.org/vest/1.0.9/node_module

[2020-05-10 07:06] ealush commented on #136
Fixed in 1.10.

[2020-05-10 07:06] #136 closed

[2020-06-20 15:34] liady opened #205 "If there are warnings and errors, `classNames` produces only the warning class name"
In the React example:
https://stackblitz.com/edit/vest-react-support-example
If an amount of 1$ is put into the the amount (which is an error - minimum of 2$ is required) - the class is still 'warning' and not 'error' (since it is also a warning - that the amount is less than 10)

[2020-06-20 17:12] ealush commented on #205
Hey @liady, thanks for the feedback.
The classNames utility works as expected, as you can see in the screenshot, it adds both the `invalid` class and the `warning` class - as it should.

![image](https://user-images.githubusercontent.com/11255103/85207517-f990b080-b331-11ea-8e31-61e7f0f9c88e.png)

The problem was css precedence - I declared `.warning {}` after `.invalid {}` in `style.scss`, so it

[2020-06-20 17:39] #205 closed

[2020-06-20 20:34] mosheKerbel opened #206 "React example 2 - password has wrong validation"
Steps to reproduce:
1. Type in a password with more than 1 char.
2. Focus out of the field

Expected:
Field should pass validation
Actual:
Field fails on validation

I did not check yet wether the issue is due to the example code or the actual library.

[2020-06-20 21:09] ealush commented on #206
Hey, @mosheKerbel, thanks for checking out the library.
I am assuming you're talking about this example: https://stackblitz.com/edit/vest-react-registration?file=validate.js

I tested it now, it seems to be working as expected.

The password validation rules are:
1. *Must* have at least one **digit**.
2. *Should* be 7 chars or longer.

[code]

![image](https://user-images.githubusercontent.com/112

[2020-06-21 06:32] mosheKerbel commented on #206
Hey @ealush
When I created the issue I did it from my phone and i was not able to attach the screenshot.
Here is what I'm getting from the link you put here - https://stackblitz.com/edit/vest-react-registration?file=validate.js
![image](https://user-images.githubusercontent.com/7388217/85218343-182e9000-b3a2-11ea-8b6a-da17854fa785.png)

[2020-06-21 06:39] ealush commented on #206
Hey, please note that in this demo the password has to have at least one digit (0-9), not just any character. Try typing a number and you'll see that the validation passes as expected.

[2020-06-21 06:44] mosheKerbel commented on #206
Ohh right
My bad, apologies 🙈
In anyways, love the library and the idea behind it, would definitely try it in the next project I need to use validations.

[2020-06-21 06:45] #206 closed

[2020-07-05 21:47] adife opened #239 "next branch | In some cases async tests don't get updated"
In the next branch, there seems to be a problem with test results not updating after failure. Might be related to the cache feature?

[2020-07-05 23:11] ealush commented on #239
Nice! Thanks for catching that early on. I'll take a look.

[2020-07-05 23:14] ealush commented on #239
Fixed in: https://github.com/ealush/vest/pull/240

[2020-07-09 23:47] #239 closed

[2020-07-11 10:39] ealush opened #248 "Add Vuejs example"
Improve the documentation by adding a Vuejs sandbox.

[2020-07-11 10:40] ealush opened #249 "Add Angular Example"
Improve the documentation by adding an Angular sandbox.

[2020-07-11 13:04] eyalcohen4 commented on #248
[Made a sample](https://codesandbox.io/s/vest-vue-example-v9rpo?file=/src/App.vue)

I'm not a Vue expert, so maybe we can get feedback from more experienced devs before posting.

[2020-07-13 11:47] MaxMonteil commented on #248
I really love this library and would like to help flesh out the Vue use cases.

I changed @eyalcohen4 sample to use more idiomatic Vue, let me know what you think.

[Sample](https://codesandbox.io/s/vest-vue-example-uv6u0?file=/src/App.vue)

[2020-07-13 12:10] eyalcohen4 commented on #248
LGTM
Thanks, Max. I'll update the sandbox

[2020-07-13 23:34] #248 closed

[2020-07-25 14:06] ealush opened #269 "Add enforce.any() rule"
At the moment, when chained, all rules have an `AND` relationship.

[code]

It can be useful to also have OR relationships between enforcement rules such as

**OR RELATIONSHIP**
At least one rule must be truthy
[code]

This used to be difficult to achieve, but with the recent change https://github.com/ealush/vest/pull/479 that allows for lazy evaluated enforcements (`enforce.isArray()([])`) it sho

[2020-07-25 20:45] ealush opened #270 "Add development build and a `debug` flag"
Add a development build that does not minify the code at all, and adds a debug flag.

debug:
[code]

Turning on debug model will print metrics on each test that runs such as timers, whether it was skipped, passed or set as a warning.
Along with that - the current context and the data that was passed to the suite.

[2020-07-31 19:15] aviadhhh commented on #249
I'll take that.

[2020-08-01 14:18] ealush opened #285 "[N4S] Add jest style enforce rule failures"
At the moment, validation rules are simple functions that return a boolean. If the rule's return value is false, enforce will throw an Error.

Rule example:
https://github.com/ealush/vest/blob/69eacb388ad9fac8e403351df5ab5347d6298edf/packages/n4s/src/rules/greaterThan/index.js#L3-L5

And where it throws:
https://github.com/ealush/vest/blob/69eacb388ad9fac8e403351df5ab5347d6298edf/packages/n4s/src/

[2020-08-01 23:17] ealush opened #286 "Add automatic bundle size measurements to PR"

[2020-08-01 23:17] ealush opened #287 "Add automated benchmark measurements to build"

[2020-08-03 03:39] zeekrey opened #292 "isNotEmpty() on date objects"
[code]

This returns a validation error although `new Date()` is not empty. Seems like the `isNotEmpty()` method only works on strings, arrays and objects. How would you check if a date object exists or even is properly formatted?

Awesome project! Keep up the great work.

[2020-08-03 14:11] ealush commented on #292
Hey @zeekrey, thanks for reaching out!

Yes, `isEmpty` and `isNotEmpty` indeed only perform very specific tasks. https://github.com/ealush/vest/blob/latest/packages/n4s/src/rules/isEmpty/index.js, which is not very suitable for checking a date object.

The "empty" Date object that you showed in your code snipped is not empty, since `new Date()` defaults to the current time:

[code]

I believe that

[2020-08-03 14:13] ealush opened #293 "Enforce: Add isNaN rule"
As mentioned here: https://github.com/ealush/vest/issues/292

[code]

See [isArray](https://github.com/ealush/vest/blob/latest/packages/n4s/src/rules/isArray/index.js) rule for reference.

[2020-08-04 00:41] narkeeso opened #295 "TypeScript definition not getting published to npm"
At first I didn't think vest had a TypeScript declaration file but double checked the repo and found the types. I dug into `node_modules/vest` and the declaration file seems to be missing.

![image](https://user-images.githubusercontent.com/17995/89240349-b4a69d80-d5b0-11ea-9a4a-8d8bd0d9ea93.png)

[2020-08-04 04:31] zeekrey commented on #292
Awesome! Thanks for the detailed answer. 😇 I'll go with:

[2020-08-04 08:05] #292 closed

[2020-08-04 08:05] ealush commented on #292
Glad I was able to help 😀

[2020-08-04 08:12] ealush commented on #295
Hey @narkeeso - thanks for opening this issue.

This is actually correct. The published version on npm is the `stable` version (correlates with the [stable branch](https://github.com/ealush/vest/tree/stable)). The next release, 2.1 is the one you see in the latest branch - and that's where the type declarations do exist.

I will soon release version 2.1 (When I am comfortable with its added featur

[2020-08-04 19:18] narkeeso commented on #295
Looking forward to it @ealush! I am loving validating with vest!

[2020-08-04 19:18] #295 closed

[2020-08-05 19:18] guyb7 opened #298 "Publish vest module on npm"
The version published in npm contains only the minified code intended for browsers, so the sample code in the [docs](https://ealush.com/vest/#/) doesn't work in node.

[code]

[2020-08-07 20:02] ealush commented on #298
Hey @guyb7, thank you for opening this issue.

The thing with node's module system is that it is fragmented and there are many paths one could go.
In your specific case, you could replace your import statement with any of the following to make it work immediately:

[code]
Or
[code]

But, you do raise a valid point, and I am working on a change that will handle it in multiple fronts:

https://githu

[2020-08-08 22:07] #293 closed

[2020-08-09 15:35] #298 closed

[2020-08-14 10:00] ealush opened #310 "Add __DEV__ = true to development build"
Add `__DEV__` global that will be `true` only in the development build. In all other builds it will be set to `false`.

This will allow providing more runtime metrics for development build.

https://github.com/ealush/vest/blob/latest/config/builds/vest.js#L56-L59

[2020-08-14 10:06] ealush opened #311 "Export validator rules individually"
Currently `enforceExtended` is 29kb due to the validator.js rules. If we export each rule individually and let consumers mix and match it will make it way smaller.

[code]

[2020-08-14 10:54] ealush opened #312 "Restructure state directory"
The idea is to move all the modules that directly relate to a suite and put them in the same directory: `packages/vest/src/core/suite`.

- [ ] create core/suite directory
  - [ ] move createSuite to suite/create
  - [ ] move validate to suite/validate
  - [ ] move registerSuite to suite/register
  - [ ] move reset to suite/reset
  - [ ] move remove to suite/remove
  - [ ] move getSuiteState to sui

[2020-08-14 10:55] ealush commented on #270
https://github.com/ealush/vest/issues/310

[2020-08-20 21:38] ealush opened #315 "FEAT: add `get` and `reset` interfaces to suite directly"
At the moment you can use `vest.get(suiteName)` to get the suite's state, and `vest.reset(suiteName)` to erase it.

It could be nice to be able to access those without having to hold a reference to the suite name:

[code]

[code]

Can probably be added here:
https://github.com/ealush/vest/blob/latest/packages/vest/src/core/createSuite/index.js#L44-L58

[2020-08-26 18:47] vligas commented on #315
Can I help with this?

[2020-08-26 21:58] ealush commented on #315
Hey @vligas, yes, of course!

As mentioned, the main file you should probably add the functions to is `createSuite/index`. The tests should reside next to it as well.

Let me know if you need any help getting things to work.

[2020-08-28 17:37] reidysj commented on #312
Can I take this on? I'm new to contributing and organizing dirs is my favorite 😁

[2020-08-28 21:07] #315 closed

[2020-08-29 23:26] ealush commented on #312
Hey @reidysj, definitely. I'd love that.

It is not a very challenging task, but it might get a little tedious - feel free to break it down and start small by moving just a part of these folders.

Also, I am still trying to find the best structure myself, so if you're thinking of a better structure while at it I'm happy to hear.

Thank you 🙏🏻

[2020-08-30 02:57] vligas commented on #311
Ok, are you looking for left some of those rules like defaults?

I took a look into the code of enforce I think that this could be accomplish by just changing this
[code]
https://github.com/ealush/vest/blob/latest/packages/n4s/src/enforce/index.js

and change the imports for exports here https://github.com/ealush/vest/blob/latest/packages/n4s/src/rules/index.js, but I'm not quite sure of how to ma

[2020-08-30 04:55] vligas opened #350 "Add support for 'not' prefix for validations"
It would be cool to have something like this: `enforcer(10).not.greaterThan(20)`. this could allow that if you are writing a custom rule you don't have to write also the negative way.

https://jestjs.io/docs/en/expect#not

[2020-08-30 07:15] NorbertLuszkiewicz commented on #312
Hey, can I help to fix this issue ?

[2020-08-30 11:02] ealush commented on #350
Hey @vligas, that's a good point. I thought about it as well - but the way it is now is intentional - only because I couldn't find a nice intuitive way for consumers to mix `.not` and a chain of rules.

For example, at the moment a consumer can write:

[code]

Now let's try to chain with a `.not` modifier:

[code]

Now - in the second question, does the `.not` modifier only apply to `.isNumber` or

[2020-08-30 16:43] vligas commented on #350
mmm ok I see the problem now, the only way that I can think without introducing breaking changes rn is doing something like
[code]
but is a bit verbose 🤔... feel free to close the issue, thx for the explanation @ealush 👌

[2020-08-30 18:28] ealush commented on #350
Yes, your solution works, but as you noted, it does not make it easier to write.

Closing this issue for now, might resurface it in the future if we get a better idea.

[2020-08-30 18:28] #350 closed, assigned to nobody

[2020-08-30 21:20] vligas commented on #285
Hi, i reviewed the jest code and I will be adding a `validateResultShape` and a `transformResultShape` functions so in first place we could parse all supported formats to a final one with defaults values.

[code]

that way to deprecate/add a valid rule result, you only need to change those two functions and the rest of the lib could be only aware of the verbose one.

In the other hand what should

[2020-08-31 09:36] mathieutu opened #356 "Nested fields ?"
Hi,
Thanks for your work and this package.

I would like to validate objects with a lot of nested structure, like this:
[code]

Do you recommend a particular way to write the validation tests with vest?

I tought about something basic like this, but maybe is there a better way?
[code]
Thanks,
Mathieu.

[2020-09-01 11:23] ealush commented on #356
Hey @mathieutu, thanks for reaching out!

The problem of dynamically generated fields, or fiels queried from the server does come up every once in a while, and the way you handle it is the most straightforward way of doing it. There aren't any drawbacks to using it. It's quite simple to maintain and debug, and I should probably add it to the docs as well. Thank you for bringing that up!

As a side

[2020-09-02 14:01] #310 closed

[2020-09-02 22:50] #285 closed

[2020-09-03 21:40] #312 closed

[2020-09-07 19:30] dachi023 opened #374 "IEnforceRules types does not exist when use enforceExtended in TypeScript"
I'm not very good at English, so I'm sorry if my sentences aren't right.

I get the following error when I try to use from TypeScript:

[code]

[code]

This is just a suggestion, but we'll fix [vest.d.ts](https://github.com/ealush/vest/blob/2cc0d25b9dcb94ce149c63fe7498904cb39afe33/packages/vest/src/vest.d.ts#L100-L102):

[code]

And replace this code:

`IEnforceRules<T> & EnforceExtendMap<T>` → `E

[2020-09-08 12:06] ealush commented on #374
Hey @dachi023, thank you for reaching out. Sorry that you're experiencing this typing issue.

Saw your suggestion, I think this could work. Sure, go ahead and open a PR. We'll test that it works correctly.

Thank you!

[2020-09-08 21:57] ealush commented on #374
@dachi023 Hey, I went ahead and fixed it myself, because I found a few more things that could be improved.

This will be added to the next minor version of vest in the next couple of days. Thank you!

[2020-09-08 23:41] dachi023 commented on #374
@ealush Waiting for the release! Thank you!

[2020-09-09 00:16] ealush commented on #374
It's out now, vest 2.2.0. Let me know if that works for you.

[2020-09-09 01:51] dachi023 commented on #374
@ealush

Upgrading to 2.2.0 is still giving me the error.

[code]

The type definition of the `EnforceExtendMap<ExtendedRules>` does not include `IEnforceRules`.

So, if you try to execute a method of `IEnforceRules` right after `enforce()`, the property does not exist.

[code]

[2020-09-09 09:04] ealush commented on #374
Oh, I see the problem. You are right.

Can you confirm that `vest@2.2.1-dev-b35d2f` works on your end? If so, I will publish it.

[2020-09-09 09:23] dachi023 commented on #374
I've upgraded and confirmed that the error no longer appears.

Thanks for fixing it!

[2020-09-09 09:57] ealush commented on #374
Awesome, I've published 2.2.1 with this fix!
Thank you for the quick feedback loop.

[2020-09-09 09:58] #374 closed, assigned to nobody

[2020-09-21 16:33] ealush opened #393 "Add test.each for iterative tests over an array"
Implement test.each (described here: https://github.com/ealush/vest/issues/356#issuecomment-684780967).

Similar to [jest's each function](https://jestjs.io/docs/en/api#testeachtablename-fn-timeout), but slightly different. It can be discussed if we should support the `printf` formatting, or find an alternative.

[2020-09-21 16:36] ealush opened #394 "Add test.if and test.unless"
Add test.if and test.unless functions that allow conditional runs for tests

[code]

This will run the test conditionally, without needing to wrap it with an `if` block. The benefit here is that when wrapped with an `if` block, the test is not registered, and not added to the test as skipped. This way we can treat it as skipped to begin with.

[2020-09-21 16:40] ealush opened #395 "[N4S] - Add support for enforce.anyOf()"
Will allow an `at least one` relationship between enforce assertions.

`enforce(value).anyOf(enforce.longerThan(5), enforce.isEmpty())`

This requires quite a big change to the way enforce currently works.

[2020-09-21 16:42] ealush opened #396 "[N4S] RULE add isBetween/isInRange"
Add a new enforce rule:

[code]

[2020-09-21 16:43] ealush opened #397 "[N4S] RULE isUndefined"
Add a new enforce rule:

[code]

[2020-09-21 16:44] ealush opened #398 "[N4S] RULE isNull"
Add a new enforce rule:

[code]

[2020-09-21 16:45] ealush opened #399 "[N4S] RULE startsWith"
Add a new enforce rule:

[code]

[2020-09-21 16:46] ealush opened #400 "[N4S] RULE endsWith"
Add a new enforce rule:

[code]

[2020-09-21 16:47] ealush opened #401 "[N4S] Rule isNegative | isPositive"
Add a new enforce rule:

[code]

[code]

[2020-09-21 18:07] ealush commented on #393
[code]

[2020-09-21 18:15] ealush commented on #393
[code]

[2020-09-21 19:13] syncush opened #402 "Does Vest has a discord server or slack workspace?"

[2020-09-21 19:38] ealush commented on #402
It does now :)

https://discord.gg/PDNFzt

[2020-09-21 20:02] omriLugasi commented on #393
@ealush
Currently there are 3 options for string interpolation (error message).
1.
[code]
2. With string format (like https://jestjs.io/docs/en/api#testeachtablename-fn-timeout)
3. ```  z`Some message (${(arg1) => arg1})` ``` Actually I cant understand how you want to implement [your](https://github.com/ealush/vest/issues/393#issuecomment-696283653) suggestion?

[2020-09-22 00:39] ealush opened #405 "Breaking: make stateless 'validate' return a promise"

[2020-09-22 00:41] ealush opened #406 "Make 'validate' truly stateless by moving stateref to ctx"

[2020-09-22 00:42] ealush opened #407 "Allow contextless/top level tests"

[2020-09-22 16:22] omriLugasi commented on #400
@ealush
The negativeForm of this functionality should be `startWith`?

[2020-09-22 17:52] ealush commented on #400
Heh, no 😅, notEndsWith/doesNotEndWith (maybe both, with an alias, like in greater Than).

startsWith is its own rule.

[2020-09-22 19:18] #397 closed, assigned to nobody

[2020-09-22 19:25] #398 closed, assigned to nobody

[2020-09-22 19:29] ealush opened #412 "Optimize library for size"
Vest is still a relatively small library compared to its feature-set and also compared to other libraries in that space, but I believe its size could be reduced further down if we better structure the project.

This issue is here so we remember to prioritize for size.

[2020-09-22 21:14] omriLugasi commented on #402
The invite link is still relevant?
I get invite invalid.

[2020-09-22 23:07] #402 closed, assigned to nobody

[2020-09-23 20:44] #400 closed, assigned to nobody

[2020-09-24 14:06] sagivStekolshik commented on #401
what should happen when:

[code]
or

[code]

[2020-09-24 20:24] syncush commented on #412
I am looking at the `package.json`, doesn't it contain unnecessary packages that are added to the npm package?
[code]

When a user runs `npm install vest` doesn't it mean he will also install `husky` and `semver` for example?

[2020-09-26 11:00] omriLugasi commented on #393
Another options is to let the user choose to put static error message as string or to pass function that return the error message.

For example:

With Static error message
[code]

With generic error message

[code]
@ealush let me know what you think of this approach :)

[2020-09-26 16:53] ealush commented on #412
Hey @syncush. If you look closely at the package.json you copied the content from it has no package name. That's because this is the package.json for the project, but not for the `Vest` package.

The package.json file you should be looking it is this one: https://github.com/ealush/vest/blob/latest/packages/vest/package.json. Vest is fully self composed, and it does not require any other dependency

[2020-09-26 18:05] ealush commented on #401
Hey @sagivStekolshik, that's an excellent question.
The truth is that whether zero is positive or negative is context dependent, and sometimes it is regarded as neither.

This means that we can arbitrarily decide how we want to treat it.

For example, we could decide that in both cases it is `false`
[code]
or even treat it always as `true`
[code]

In our case, I think it would be most intuitive to

[2020-09-26 19:45] #399 closed, assigned to nobody

[2020-09-27 00:04] #407 closed, assigned to nobody

[2020-09-27 00:06] ealush commented on #395
dup

[2020-09-27 00:06] #395 closed, assigned to nobody

[2020-09-27 00:08] ealush commented on #269
Alternative option, which would require some changes to enforce:

This requires enforce itself to also be some sort of a proxy and not just return one.

`enforce(value).anyOf(enforce.longerThan(5), enforce.isEmpty())`

[2020-09-29 16:34] ealush commented on #393
Hey @omriLugasi, sorry, I missed your message.

Yes, this is very much possible - and technically, it is the same as using a tagged function:
![image](https://user-images.githubusercontent.com/11255103/94586200-9fd14800-0289-11eb-8e51-2a35297007f1.png)

The reason I am reluctant to just let the consumer specify a function is that it prevents us from actually knowing whether it is their test call,

[2020-09-30 09:42] sagivStekolshik commented on #401
My idea was using `Math.sign()` to get the number or string(works as well)
sign function returns 0 or -0  according to [MDN]( https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/sign)
so going the `0 -> false` route will be easier
going the `0 isPositive number` will be even easier as it can be the "negative" of `isNegative`

[2020-09-30 18:10] syncush commented on #396
I would like to take this one

[2020-09-30 20:02] ealush commented on #396
Cool. Go ahead. I think it could easily be a function using lte and gte.

[2020-10-02 11:41] ganeshpatil0101 commented on #401
Hi @ealush
I would like to work on this issue.
Please assign to me. I already started working on it and is there any diagram or documentation to get started?
Thanks,

[2020-10-06 11:33] ealush commented on #406
Next major will remove stateless mode altogether, scope pollution is no longer an issue.

[2020-10-06 11:33] #406 closed, assigned to nobody

[2020-10-06 11:33] ealush commented on #405
Validate is removed altogether. Promisify Can be used with vest.create.

[2020-10-06 11:33] #405 closed, assigned to nobody

[2020-10-06 11:56] #396 closed, assigned to nobody

[2020-10-06 16:36] #412 closed, assigned to nobody

[2020-10-07 16:48] zivkaziv commented on #401
Is this issue still open?

[2020-10-07 21:23] zivkaziv opened #427 "serial and parallel test support"
The idea is to have the option to run the tests in serially to force those tests not to run parallely.
The idea is from ava framework(https://openbase.io/js/ava-tf/documentation)
By adding `.serial` after the tests you can enforce it

[code]

What do you think?

Thanks,
Ziv

[2020-10-10 17:27] ealush commented on #401
@ganeshpatil0101

@zivkaziv

Yes. No need to assign anyone, simply submit a pr and we'll get it merged 🙂

[2020-10-11 12:29] ealush commented on #427
Hey Ziv, sorry for taking a couple of days to reply.
That's an interesting suggestion. You suggest to have al tests async by default, which could help us with long-operations. I am wondering about the output interface though.

At the moment vest.create returns a function that when run, it returns a result object
[code]

Changing the default to async tests means that the result object will be prett

[2020-10-12 03:54] ganeshpatil0101 commented on #401
@zivkaziv @ealush  I can see other unit tests are failing. does that expected ? I will add unit test for isNegative & isPositive and then raise pr.

[2020-10-12 14:11] ganeshpatil0101 commented on #401
@ealush @zivkaziv  unit tests are working fine. But on my local example of vest with vanilla is not working. I will check it. Thanks.

[2020-10-13 12:27] ealush commented on #401
@ganeshpatil0101 do you have a branch you can share with those changes that do not work? I might be able to help.

[2020-10-13 13:24] ganeshpatil0101 commented on #401
@ealush Please review and merge the PR https://github.com/ealush/vest/pull/433
New unit tests are added & all tests are passed.
I request you to test this feature with one real example as I am having issues to setup a vest - vanilla example on local.
Please let me know you if there any changes required.
Thanks.

[2020-10-13 14:02] zivkaziv commented on #427
On second thought... I don't have in mind any scenario of running async validation in a parallel.. We can keep this in mind till we have some valid use case:)

[2020-10-13 14:02] #427 closed, assigned to nobody

[2020-10-15 22:07] #401 closed, assigned to nobody

[2020-10-30 15:07] daniel-sc opened #475 "Cross Field Validations"
Are cross field validations possible? Eg "either email or phone must be set".

[2020-10-31 21:03] ealush commented on #475
Hey @daniel-sc, thanks for reaching out. Yes, cross field validation is possible and quite simple. There are multiple ways of achieving this, depending on your specific validation strategy.

I am adding a few example. I recommend you open the live demos as they add a few more details.

## Option 1: use the `any` utility

Your specific example can be handled with the `any` utility function. The `an

[2020-11-01 19:12] daniel-sc commented on #475
@ealush thanks for the info!
Like it!

[2020-11-01 19:40] ealush commented on #475
Should probably add this as a docs section. Thanks for the good question!

[2020-11-01 19:43] Moses3301 commented on #311
I would like to take this issue,
but first I want to be sure that I fully understand it.
the vest\packages\n4s\src\extended\rules\index.js file import the rules and export it all like that:
`
import isEmail from 'validator/es/lib/isEmail';
export default {
  isEmail,
  ...
};`
and the rules need to exported individually like that:
`
import isEmail from 'validator/es/lib/isEmail';
...;
export defau

[2020-11-01 20:37] daniel-sc commented on #475
@ealush The live demo seems to be wrong:
![image](https://user-images.githubusercontent.com/117919/97814838-66c23400-1c8a-11eb-9cab-f7566c64ede8.jpeg)

[2020-11-01 20:50] ealush commented on #475
@daniel-sc, you are right. I tested `email` twice but never `phone`, so the example "worked" correctly, but I had a bug 😅
Updated the link, and here it is again: https://codesandbox.io/s/demo-forked-ltn8l?file=/src/validate.js

[2020-11-01 21:00] ealush opened #477 "Add a cross field validation page in the docs"
Based on this issue, https://github.com/ealush/vest/issues/475, I realized there's a need to describe the different ways to have a cross field validation. The ways are briefly described in the issue, but they need to be turned into a documentation page.

The main scenarios:
Either/Or validations: At least one field needs to be validated
And validations: A field can only be validated if another fie

[2020-11-01 21:04] ealush commented on #475
Also, added another example (2.5). Could be very useful.

[2020-11-01 21:55] ealush commented on #311
Hey @Moses3301, thanks for reaching out!

Yes, you understand it correctly. The idea in general is to mirror the validator.js rules for easier consumption (no need to install multiple packages), but still have it as their own exports so that it doesn't add much unneeded bloat to whoever's using it.

One thing I am thinking, is that we don't need to have that supported on the n4s packages, but just

[2020-11-05 23:21] ealush commented on #269
Rule updated with instructions

[2020-11-05 23:26] ealush opened #488 "Add enforce.arrayOf() rule"
This rule can be quite useful when a future schema validation rule will be added to enforce.

The general idea is quite similar to the [enforce.any](https://github.com/ealush/vest/issues/269) rule:

[code]

The idea is that at least one needs to be truthy in order for the condition to be met - alternatively, an empty array should probably be valid as well unless explicitly mentioned:

[code]

See

[2020-11-11 00:28] ealush opened #492 "add enforce.loose()"
enforce.shape() supports defining an object schema, but it requires an exact match of an object. If the object contains extra keys, it will throw an error.

enforce.loose should implement the same behaviour of enforce.shape, but also allow extra keys to be present in the data object.

See [Shape](https://github.com/ealush/vest/blob/latest/packages/n4s/src/enforce/compounds/shape.js) for reference.

[2020-11-11 18:51] kapalex commented on #492
What do you think of the following implementation ?

[code]

Would also allow using shape with an additional param to get the same result (might be more clear than loose)

[2020-11-12 00:49] ealush commented on #492
Yes, that's pretty much what I had in mind. I would argue though that instead of a boolean argument, it might be better an options object with a `loose` property. This will prevent breaking changes if we want to add more capabilities in the future.

[2020-11-13 14:27] Moses3301 commented on #488
#499 implement isArrayOf rule

[2020-11-15 10:43] ealush commented on #488
Closed by #499

[2020-11-15 10:43] #488 closed, assigned to nobody

[2020-11-15 18:11] ealush commented on #492
@kapalex If you still want to take this issue, you can go ahead. I am done implementing my breaking changes :)

[2020-11-15 23:07] #475 closed, assigned to nobody

[2020-11-15 23:08] #477 closed, assigned to nobody

[2020-11-15 23:09] #356 closed, assigned to nobody

[2020-11-16 15:43] kapalex commented on #492
Should get to it today or tomorrow 😄

[2020-11-16 20:01] ealush commented on #492
closed by #505

[2020-11-16 20:01] #492 closed, assigned to nobody

[2020-11-16 20:02] ealush commented on #269
closed by #493

[2020-11-16 20:02] #269 closed

[2020-11-20 17:38] #311 closed

[2020-11-22 21:18] ealush opened #513 "add enforce.oneOf compound for mutually exclusive validations"
Similar to [anyOf](https://github.com/ealush/vest/blob/latest/packages/n4s/src/enforce/compounds/anyOf.js), we need a mutual exclusion rule: `oneOf`.

In the following example `value` must either be shorter than five OR longer than 10, but never both.
[code]

This can be even more useful when combined with templates and shape validations:

[code]

[2020-11-23 09:58] ealush opened #521 "add enforce.allOf compound for AND style requirements"
Similar to [anyOf](https://github.com/ealush/vest/blob/latest/packages/n4s/src/enforce/compounds/anyOf.js), we need an AND relationship rule: `allOf`.

In the following example `value` must both be a string and longer than 10.
[code]

This can be even more useful when combined with templates and shape validations:

[code]

# Developer guidelines

1. Create a new file called `allOf` right next to a

[2020-11-24 16:50] ahsanbagwan commented on #513
I would like to give this a try. What else do I take a look for help except this [file](https://github.com/ealush/vest/blob/latest/packages/n4s/src/enforce/compounds/anyOf.js)

[2020-11-24 18:46] ealush commented on #513
Hey @ahsanbagwan, that would be awesome! Thank you 🙏🏻

So here's the general guideline:

1. Create a new file called `oneOf` right next to anyOf. It should be pretty much the same, implementing the rules.some logic with some other counter mechanism.

2. To actually have it used by enforce, add it to this [compounds export](https://github.com/ealush/vest/blob/latest/packages/n4s/src/enforce/compoun

[2020-11-24 19:24] hpsharon commented on #513
Same here 👋

[2020-11-24 19:46] ealush commented on #513
If either of you is interested, there's a near identical issue https://github.com/ealush/vest/issues/521

[2020-11-30 15:08] #513 closed, assigned to nobody

[2020-12-01 12:56] #521 closed, assigned to nobody

[2021-01-08 00:16] #393 closed, assigned to nobody

[2021-01-10 21:23] codechips opened #556 "enforceExtended and promisify not found"
Hi and thanks for the a great library!

I have trouble importing `enforceExtended` for some reason. Is the file missing or am I missing something?

Things I've tried:

[code]
https://ealush.com/n4s/#/./business_rules

Is the documentation lagging behind? Should I install and use validator.js to solve email validation?

https://ealush.com/vest/#/./n4s/external

Same thing when trying to import `pro

[2021-01-18 16:01] beshur opened #558 "Uppercase regex does not work"
Hello.

I'm using vest with React, and can't get some tests to work.
Could you please take a look?

[code]

[2021-01-18 16:09] beshur commented on #558
Sorry, my bad, the issue was with `^` at the start of the regexes.

[2021-01-18 16:09] #558 closed, assigned to nobody

[2021-01-19 18:26] Feshchenko opened #559 "enforce.extend wrong typings"
Hi. ✋🏿
I'm trying to create custom rule with return value, according to https://ealush.com/vest/#/./n4s/custom?id=custom-rules-return-value
But I got typescript error 😭
<img width="1420" alt="Screenshot 2021-01-19 at 20 03 54" src="https://user-images.githubusercontent.com/7198398/105076621-f3afa900-5a93-11eb-999f-9a32fd634d30.png">
I think that problem is here:
https://github.com/ealush/vest/blob

[2021-01-20 20:20] ealush commented on #559
Thank you for reporting @Feshchenko.
You are right. The type was missing. I pushed a fix for this in 3.0.2.

Can you please confirm that it works as expected now?

[2021-01-20 20:47] ealush commented on #556
Hey @codechips, thank you for reaching out, and sorry for the delayed response. I completely missed this issue.
🙏🏻

### Promisify
As you noted, this seems to be a bundler thing. I tested Vest with node imports/webpack/rollup/parcel, never tried it with snowpack or browser imports. I'll have some reading on it and see what needs to be changed. Thank you for reporting that.

Btw, trying to import pr

[2021-01-20 21:38] codechips commented on #556
No problem, thanks for the answer. Ping me if you need a simple Snowpack project in order to reproduce the issue. I am using Svelte, but I doubt the framework is the issue here.

[2021-01-20 21:56] ealush commented on #556
Yes, a boilerplate project would be amazing for me to debug these issues. I'd love that.

[2021-01-20 21:56] #286 closed

[2021-01-20 21:56] #287 closed

[2021-01-21 09:46] Feshchenko commented on #559
Hello, @ealush.
Typings are correct now.
I have another problem with enforce.extend.
I created small `codesandbox` example to show you my problem: https://codesandbox.io/s/vest-extend-re27v?file=/src/index.js
I thought that test suite should return message from resulting object which is ''Message from enforce.extend" (line: 7), but I've got `undefined` instead 😭 .
Did I get documentation wrong?

[2021-01-21 11:30] ealush commented on #559
@Feshchenko Thank you for this message.

Initially the extended message was added for easier debugging in development, but the way you tried to use it actually makes a lot of sense to me. That's a super useful feature that can be beneficial for many users.

So I went ahead and added it.

I released a new development version: `vest@3.1.0-dev-22d3d0` with this functionality.
You can check it out in

[2021-01-21 12:10] Feshchenko commented on #559
I use `vest@3.1.0-dev-22d3d0` - for my sandbox, it works great.
@ealush thank you for quick response and fixes :)
I'm waiting for new version to use this awesome feature :)

[2021-01-21 18:21] #559 closed, assigned to nobody

[2021-01-21 18:24] jorisre opened #562 "validate + promisify wrong typings"
Hi 👋🏻

I'm adding sync/async validation mode to [react-hook-form's vest resolver](https://github.com/react-hook-form/resolvers) and at the same time, I'm updating from V2 to V3, thanks for your great work 👏🏻

I tried to use `promisify` but I get TypeScript errors.
You can find here a reproduction: https://codesandbox.io/s/pedantic-pond-15zuc

[2021-01-21 18:29] ealush commented on #559
@Feshchenko Included in https://github.com/ealush/vest/releases/tag/3.1.0

[2021-01-22 00:10] ealush commented on #562
Hey @jorisre, thank you for reporting this 🙏🏻

Looks like there were two issues:
1. The documentation had an error - that section that suggested passing an invoked suite to promisify (your validate2 example). Fixed. https://ealush.com/vest/#/./utilities?id=promisify.

2. The ts typings were indeed incorrect. I fixed it in `vest@3.1.1`.
Here's the working example: https://codesandbox.io/s/infallibl

[2021-01-22 08:42] jorisre commented on #562
Hey @ealush 👋🏻

Thanks for the quick reply ! Seems good in your example and on my side too 🙂

Issue solved ✅

[2021-01-22 08:42] #562 closed, assigned to nobody

[2021-01-23 10:01] codechips commented on #556
Here is a simple Snowpack project that demonstrates the problem https://github.com/codechips/svelte-snowpack-vest-bug

[2021-01-23 15:47] ealush commented on #556
Thank you @codechips, on it. I'll report back with the findings.

[2021-01-24 10:04] codechips commented on #556
I forgot to mention one other thing. When importing Promisify I have to explicitly specify `.js` extension to make it work.
[code]

[2021-01-26 23:55] ealush commented on #556
OK, so first things first - I created a version that on my end seem to resolve the named imports issue. Can you confirm that it works for you as well?
```vest@3.1.2-dev-6a05bd```
This is the version number. It is a development release that I created specifically for this issue. If it works correctly I'll ship it with the next version.

I'll now try to figure out the promisify.js thing.

[2021-01-26 23:59] ealush commented on #556
@codechips, ok, so I created a new version that seems to fix the named imports on my end. Can you please try it out and let me know if it solves it for you as well? If it does, I'll publish it with the next version.
For now this build is on: `vest@3.1.2-dev-6a05bd`.

I'll now look into the promisify.js thing.

Thank you!

[2021-01-28 14:15] codechips commented on #556
Checked and it works! Nice! :+1:

[2021-01-28 17:56] ealush commented on #556
@codechips
I seem to have found the reason that you're unable to import promisify without the extension. I made another dev version with the fix applied. Can you please test again that it works on your end (both with and without the extension).

```vest@3.1.2-dev-a2bd9c```

Thank you for reporting these issues, making vest better!

[2021-01-28 20:42] codechips commented on #556
Tried and everything now works as expected! Thanks! Closing this.

[2021-01-28 20:42] #556 closed, assigned to nobody

[2021-01-28 21:42] therealpaulgg opened #564 "vest/schema problems with typescript"
Hi,

I was trying to write some code to test the experimental vest/schema updates we discussed a couple of weeks ago (finally got to it at work). Not sure why but my Typescript project refuses to use vest/schema because it simply says it is an interface type. The error I get is:

`'schema' only refers to a type, but is being used as a value here.`

I cannot get typescript to import the file in ves

[2021-01-30 14:26] ealush commented on #564
Hey @therealpaulgg, thanks for reporting that.

You are right. Sorry that you experienced it. I just released `3.1.2` with type fixes for vest/schema. You can see it working here: https://codesandbox.io/s/heuristic-leaf-kf6s6?file=/src/index.ts

Let me know if there's anything else I can help with

[2021-01-30 14:28] ealush commented on #556
@codechips, I just released 3.1.2 that includes both these fixes. Thank you for your patience.
https://github.com/ealush/vest/releases/tag/3.1.2

[2021-02-10 20:59] ealush commented on #564
@therealpaulgg, may I close this issue?

[2021-02-10 21:04] ealush opened #575 "types: Add missing type - suite.remove"
Free internet points!
`suite.remove`(https://github.com/ealush/vest/blob/latest/packages/vest/src/core/suite/createSuite.js#L60) is missing a type, should be added here: https://github.com/ealush/vest/blob/latest/packages/vest/src/typings/vest.d.ts#L168

Type should be: `reset: (fieldName: string) => void;`

[2021-02-10 21:09] ealush opened #576 "pref: add cache around collectFailureMessage"
In each call to collectFailureMessage (https://github.com/ealush/vest/blob/latest/packages/vest/src/core/produce/collectFailureMessages.js#L14-L36) we go and recalculate all the values. This can be prevented if we cache it by the `testObjects` array.

Cache module is here: https://github.com/ealush/vest/blob/latest/packages/vest/src/lib/cache.js

[2021-02-10 21:15] ealush opened #577 "Add suite method shorthands"
At the moment we can access all suite methods via suite.get(). Alternatively, it would be very simple to add all the suite methods directly on top of suite:

Functions should be added here: https://github.com/ealush/vest/blob/latest/packages/vest/src/core/suite/createSuite.js#L60
They can all rely internally on `suite.get()`.

Types should be added here: https://github.com/ealush/vest/blob/latest/

[2021-02-10 22:31] therealpaulgg commented on #564
Yes, it is working as expected.

I've been busy with a ton of stuff at work - I'll definitely provide feedback once I get to writing my validation system using Vest.

[2021-02-10 22:31] #564 closed, assigned to nobody

[2021-02-15 01:50] #575 closed, assigned to nobody

[2021-02-24 15:06] ruksina25 commented on #577
☑️

[2021-03-09 22:19] ealush opened #602 "docs: consistently use "suite" keyword in documentation."
The documentation has different terms describing Vest's suite. Sometimes we reference it as "validate", sometimes as "v". The idea is to name the suite's variable and module as "suite" consistently across the docs.

## From:
[code]

## To:
[code]

Here are some docs that I've found:
https://github.com/ealush/vest/blob/latest/packages/vest/docs/cross_field_validations.md
https://github.com/ealush/v

[2021-03-15 13:48] MichalPorag commented on #249
@ealush
I see that no one did this issue.
So I would like to take it :)

[2021-03-15 17:44] ealush commented on #249
Yes! @MichalPorag ,go ahead!

You can open up a new sandbox, you cnr use the styling from my react demos. Let me know if you need anything from me. 🙏

[2021-03-31 09:51] galitpauz commented on #602
@ealush Is this taken?

[2021-03-31 11:42] ealush commented on #602
@galitpauz, no, this one's not taken yet. You can go ahead and do it. Should I assign this one to you?

[2021-03-31 20:03] galitpauz commented on #602
@ealush Yes, thank you.

[2021-04-01 04:40] ealush commented on #602
Done

[2021-04-15 17:42] #602 closed, assigned to galitpauz

[2021-04-15 17:42] ealush commented on #602
Closed by #610, thanks @galitpauz!

[2021-04-29 17:13] codechips opened #614 "TypeScript snafu"
Hey @ealush :wave:

I think we can all agree that it's super-hard to satisfy the TS compiler. This example code gives me type errors:

[code]
![image](https://user-images.githubusercontent.com/44770/116590491-1caaca00-a91e-11eb-89cd-6e0e26aaee6d.png)

However, if I wrap them a function the errors disappear.

[code]
Weird indeed. Have you maybe stumbled on this before? Maybe it something not even T

[2021-04-29 19:40] ealush commented on #614
Hm. As much as I hate to admit it, typescript is right this time. I believe this [needs to be fixed in the docs](https://github.com/ealush/vest/blob/79d303df1164c6c9b388564fb7e5ce0474710724/packages/vest/docs/utilities.md#usage).

test [needs to be a function](https://github.com/ealush/vest/blob/79d303df1164c6c9b388564fb7e5ce0474710724/packages/vest/src/core/test/test.js#L100-L102), returning
1. v

[2021-04-30 09:29] codechips commented on #614
Thanks for the answer! :bouquet: Closing this

[2021-04-30 09:29] #614 closed, assigned to nobody

[2021-05-10 20:50] rreckonerr opened #631 "Handling translations"
Hi! First of all want to thank you for a great validation library!

Currently, I'm in a process of migrating my ember app to your validations library and I'm struggling with error keys emitted by custom enforce methods.

I'm migrating from an older validation library so I have to support their translations API. It includes translation keys and passed translation options. It seemed like a good idea

[2021-05-10 20:54] rreckonerr opened #632 "Support for translation options"
Hi! First of all want to thank you for a great validation library!

Currently, I'm in a process of migrating my ember app to your validations library and I'm struggling with error keys emitted by custom enforce methods.

I'm migrating from an older validation library so I have to support their translations API. It includes translation keys and passed translation options. It seemed like a good idea

[2021-05-11 06:56] cth0604 commented on #576
Hi, I would like to tackle this issue if it's possible. Could you please let me know if the issue is still available? Thanks!

[2021-05-11 10:54] rreckonerr commented on #631
Had connection issues so duplicated accidentally. Closing in favor of https://github.com/ealush/vest/issues/632

[2021-05-11 10:54] #631 closed, assigned to nobody

[2021-05-11 10:57] rreckonerr commented on #576
@cth0604 I'm pretty sure you can start working on the task straight away without even asking for permission.

[2021-05-17 18:56] ealush commented on #576
Hey @cth0604, sorry for replying late. Sure, go ahead - if you need any assistance let me know :)

[2021-05-20 09:02] ealush commented on #632
Hey, thank you for reaching out! Sorry for taking so long to reply.

This is a tough one. The reason it doesn't work for you when you try to return an object from your enforce message is that Vest [specifically looks for a string](https://github.com/ealush/vest/blob/289f26773a1bfc8be8fc383517a9b3f0babd4c07/packages/vest/src/core/test/test.js#L27-L29) thrown within the test body.

May I ask how you

[2021-05-20 09:25] rreckonerr commented on #632
Oh, cool! Didn't realize that I can use a function for getting the translation key.

But what about chaining enforcers? As I understand, the following wouldn't work

[code]

My current workaround is to pass the translator function to every single enforcer I use
[code]

[2021-05-23 16:37] rreckonerr commented on #632
Oh, sorry, you obviously can define multiple tests for the same field, just like

[code]
So... hmm, it appears to be more of a feature request than an issue. Like, a way to pass context for the enforce rules

[2021-05-23 18:05] ealush commented on #632
OK, so I gave it some thought.

First, as you noted - yes, you can write multiple tests for the same field, and in general, that's the preferred "vest" way of doing it - because it provides you the most granular control over your tests.

Second - enforce intentionally doesn't "speak" with vest, or draw any context from it - enforce can be consumed as its own separate [package](https://www.npmjs.co

[2021-05-23 18:17] rreckonerr commented on #632
Thanks for checking this out! Yeah, that's exactly the way I'm dealing with translations within enforce right now.

[2021-05-26 17:31] UdattaChowdhury commented on #577
Hello, maintainer. I am new to open source. Would like to work on this issue. Can you please guide me?

[2021-05-29 15:40] HttTavares commented on #576
Would you be interested in some help?

[2021-06-25 08:15] Man-RP commented on #577
hey,
I would like to know where can I write a unit test for this implementation

[2021-07-17 10:52] behzadmehrabi opened #665 "quastion: how to access current object of `arrayOf`."
Hi, Let's say I have something like this:
[code]

how can I have access to `subsidiaryAccount` value of this item in the array here?
I migrated from yup, so in yup, we had `context` which you can the `parent` item of `float account value which is the current object in the array.

P.S: I didn't know where to ask the question since there's no `discussion`, hope it's alright. :)

[2021-07-17 20:56] ealush commented on #665
Hey @Bezmehrabi, thank you for reaching out :)

When creating enforce's shape validation functions I did not create a straightforward way of accessing context within shape/array validation mainly because it is less commonly used within Vest, and I did not want to add this interface before the need actually came.

I am working on the [next version of Vest](https://github.com/ealush/vest/pull/664/fi

[2021-07-18 08:04] behzadmehrabi commented on #665
ok then :), I will explain this part of the application so you will understand why I need this feature.

## Problem
[code]
each `subsidiaryAccount` gonna have different `floatTypeIds` for each level. now whether a level should be required or not is based on the value for this level in `subsidiaryAccount`.
so in our example:
- `level1` is required (because `subsidiaryAccount.level1FloatTypeIds` is

[2021-07-19 12:24] havlasme opened #666 "TypeError: Cannot redefine property: name"
Hello,

when I use vest for validation on older browser I get following error:

[code]

I was able to track it down to this script:

https://github.com/ealush/vest/blob/289f26773a1bfc8be8fc383517a9b3f0babd4c07/packages/__shared/src/setFnName.js

The issue is with older browsers which define `name` property as non-configurable, a workaround could be to check whether is the property configurable bef

[2021-07-19 19:47] ealush commented on #666
Thank you @havlasme for bringing this up and digging the source for the issue. This makes perfect sense to me.

setName was created as a way to handle specific internal use cases when used with severe bundle-size optimizations.

We only rely on the function name in one place - specifically, when we use modifiers within shape validation. If you do not use these (which you probably don't), then you

[2021-07-19 20:52] havlasme commented on #666
Looks good. Thank you for accepting my merge request.

[2021-07-19 20:52] #666 closed, assigned to nobody

[2021-07-25 18:26] ealush commented on #665
Hey @Bezmehrabi, sorry for taking a couple of days to get back to you. I used the time to think about your use case and design an interface that does not require changing how you use enforce today, so it is backwards compatible. Let me know what you think? I believe it covers all your requirements, and adds a few more features such as `parent()` traversal, the name of the key, and the current inde

[2021-07-29 16:19] behzadmehrabi commented on #665
Hi, considering backward compatibility, it's great 👏,
parent traversal 👌👌.
Thanks man.

[2021-07-29 16:19] #665 closed, assigned to nobody

[2021-08-05 17:52] sergiocasao opened #676 ".isEmpty() doesn't check for whitespaces"
`isNotEmpty` returns no errors when `data.username` is just whitespaces.

[code]

[2021-08-08 15:57] shemayas opened #677 "Get errors across all suits"
Is there a way to get the errors of all existing validations suits?

[2021-09-08 05:09] ealush commented on #677
Hey @shemayas, sorry for responding late. I completely missed this issue.

I know it's been long, but can you please try and elaborate on what exactly it is you are trying to achieve?

[2021-09-09 07:42] shemayas commented on #677
I'm using different suits of validation on one page and on submit I want to check that all of them don't have any errors.

Is there a way to do that or do I need to loop on all my suits?

[2021-09-23 16:10] CodeWithBlaze commented on #576
Hey , I am new to open source and want to try this issue is it available ?

[2021-10-06 14:01] lrpatterson opened #697 "Cross-field validation issue on Any"
So I have a min example here: https://svelte.dev/repl/6be8e7e5f37d431b8d559a09a5d822eb?version=3.43.1

I am trying to use `any()` to validate an input field and/or a group of checkboxes.

I want to validate whether a user has checked at least one of the checkboxes or has entered a value into the "other" field.

What currently happens is each field seems to be validated separately.

![image](https:

[2021-10-07 14:24] ealush commented on #697
Hey @lrpatterson, thanks for this issue. It is a tough one.

There are two things at play here -
One, the intention behind any is different, and it is either intended to prevent execution of further tests once at least one passed, or alternatively, select one assertion among a few within your test - so the fact that using any didn't work makes sense.

The second issue is that your requirement - wh

[2021-10-07 14:37] lrpatterson commented on #697
@ealush, Thank you for your response and explaination (that was helpful).

I can't share to much of my form but it does have a lot of question on it.  Validation for the other fields are great it is just I have two or three questions that need to be validated on an 'or'.

I have updated my reply above with additional `test()`s so you can get a feel for my data. Basically other than the 'problem' f

[2021-10-08 21:19] ealush commented on #697
OK, just reporting on some progress. What you're seeing here, is pretty much a working version of what you're asking for.

![optional](https://user-images.githubusercontent.com/11255103/136624428-606ce173-347a-4e60-b2a8-6ee9edef968b.gif)

After much experimentation I got to the core of the issue in terms of usability, and there are two factors at play here:

1. You have a "two-way" dependency betw

[2021-10-09 19:28] ealush commented on #697
@lrpatterson I added [this pull request](#699) that details how the new API works and what are its limitations. I would love to hear your input on it before I merge it.

[2021-10-09 20:02] ealush commented on #676
Sorry @sergiocasao for replying late. Yes, this indeed seems like a feature that could be useful, but not as part of "isEmpty" as it would be a breaking change. Instead, @Pizzo15 added today the `isBlank` rule, which is available from `Vest@3.2.6`.

Again, sorry for taking a while - but this seems to be solving the issue.

Thanks for reporting this!

[2021-10-09 20:21] lrpatterson commented on #697
@ealush, man you are the best!  I think ommission rather than un-run will work for this type of either/or cross-validation. It is also as you mentioned a very clean way to accomplish this end.  Thank you again for your help!

[2021-10-21 07:42] danielleng opened #711 "Validate dynamic keys"
Hi, is there a way I can validate data structures with dynamically generated names (keys) ?

For example, lets say I have dynamically generated input fields in my form, and the resulting data structure of the form's data before submission to the server will look like the following:

[code]

As per above, the name for each input is dynamic, but follow a fixed format:
formName[index][fieldName]

The

[2021-10-21 08:28] ealush commented on #711
Hey @danielleng, thank you for this issue.

I believe that the feature you're after is test.each. It allows you to specify a list of items to be passed as your test parameters, then you can use these values both inside your field name, description and test body.

https://vestjs.dev/#/./test?id=testeach-for-dynamically-creating-tests-from-a-table

[code]

In the above example, we're iterating over

[2021-10-21 09:48] danielleng commented on #711
Hi Ealush,

Thanks for the reply! Really appreciate the help.

Ideally I didn't want to have to transform the form data any further than what it is now.
I found another solution that's probably not as performant, as it creates a new suite each time a dynamic field is added to the form. But after some tests, it works fine.

[code]
This will create a test case for every email field in my form based

[2021-10-22 11:47] martygo opened #712 "No email validation"
A regex could be created to take care of email validation in the most common scenarios.

By the way, how can I contribute to the project, in addition to reporting issues?

Thanks.

[2021-10-22 12:20] ealush commented on #712
Hey @martygo! Thank you for reaching out.

Vest intentionally does not include some built in validations, email is one of them.

Even though these all have strict specs, I learned the hard way that they are more of business decisions that technical matters. What is a valid email? Well, there's a clear spec - but not all companies want the whole spec.
For example, the spec allows for brackets, and

[2021-10-22 12:33] martygo commented on #712
Thank you for your feedback.

I'm currently starting a teaching project on Youtube on the Vue ecosystem
and in my research I found Vest. The Vest is simply wonderful, simple and
sensational. I will start recommending to the current team of the company I
work for and to my subscribers on youtube.

Congratulations on the project.

Em sex., 22 de out. de 2021 às 13:20, Evyatar ***@***.***>
escreveu:

[2021-10-22 12:34] martygo commented on #712
English is not my native one, I'm still learning and contributing to the
documentation of this project, it would only get in the way of helping 😁

Em sex., 22 de out. de 2021 às 13:32, Martins Gouveia <
***@***.***> escreveu:

[2021-11-02 14:59] RobMaple opened #720 "Module '"vest"' has no exported member 'skipWhen'"
I'm seeing a typescript error in VSCode when trying to use the 'skipWhen' function.

`import { create, test, enforce, skipWhen, group } from 'vest';`

Had a quick look in the code base and seems theres no type annotations in hte skipWhen file? Should this be the case or should the module be imported differently?

[2021-11-02 16:09] ealush commented on #720
Hey @RobMaple, thank you for this issue.
I am very sorry. I recently made a change related to skipWhen for forward compatibility with version 4, and forgot to add the appropriate types.

I now released a patch with the types for skipWhen. You can install `vest@3.2.8` to use it.

Again, sorry for the hassle!

[2021-11-02 16:31] RobMaple commented on #720
Hey @ealush, thanks for looking at this so quickly! No need to appologies though, just an observation I made that though might be worth reporting.

[2021-11-02 17:08] #720 closed, assigned to nobody

[2021-11-17 18:01] tig-mmp opened #723 "Reset the errors"
I'm using vest with vue 3.

I want to reset a form and my problem is that the suite keep the errors.
Is there any way to remove all the errors or reset the vest?

[2021-11-17 18:13] ealush commented on #723
Hey @tig-mmp 👋

Vest's cleanup function is suite.reset(), it removes all previously known validation info from the suite state so you can start fresh.

I see that the link to the article on it is missing from from the docs, so until I add it back, you can read about it in here:

https://vest.vercel.app/docs/understanding_state#solution-resetting-suite-state-with-reset

[2021-11-18 09:25] tig-mmp commented on #723
Thank you,

I was checking the documentation from [vestjs.dev](https://vestjs.dev) and didn't see any mension for the reset option. Apparently it's only in the migration guides, but I'm new to the vest so I haven't seen it

[2021-11-18 09:25] #723 closed, assigned to nobody

[2021-11-26 17:55] enyo opened #724 "How to initialise (pre-populate) form?"
(I'm using Svelte + Svelte Kit but that shouldn't matter to this question)

I create my suite in a separate file, and have my component setup something like this:

[code]

Everything works fine, **however** I can't submit my form, because `result.isValid()` is not true (thus disabling my submit button), because some tests have been skipped. That's understandable, because if I don't edit every fiel

[2021-11-26 21:45] ealush commented on #724
Hey @enyo 👋
Just to clarify, are the values filled to begin with?
If so, then just call the suite without providing any field name to `only`, it will just run the suite as a whole and not skip any field.

Alternatively, do you want to submit the form when all the fields can be blank? If so, you can mark them as [optional](https://vestjs.dev/#/./optional?id=optional-fields) so they can be omitted f

[2021-11-27 18:08] enyo commented on #724
Hi @ealush thanks for your reply.

I'm interested in the former example. Let's say, I have a "Finish registration" page, and I already know the `name` (because it was in the verification email) but I still allow the user to enter it.

So my initial form data would be:

[code]

If I now pass this to vest, it'll fail validation for `password` and show an error before the user started entering someth

[2021-11-27 18:55] ealush commented on #724
I see. This requirement makes perfect sense. The main issue I see is that Vest cannot by itself be aware of your internal business logic, and it cannot know whether to omit certain fields or not.

An alternative solution to yours would be optionally calling `optional` with name, assuming that you know for a fact that `name` has actually been filled. This will remove the need for forcing an initial

[2021-11-28 22:08] enyo commented on #724
Ah yes that looks like the perfect solution. Thanks!

[2021-11-28 22:08] #724 closed, assigned to nobody

[2021-12-08 12:06] gbcreation opened #733 "Skip remaining field tests as soon as one of them fails"
Currently, when we want to skip following tests for a field when one of its tests fails, we have to use `skipWhen()` multiple times like this:

[code]

It would be useful to have a less boilerplate way to do that.

Two solutions suggested here:

1°) A general purpose solution could be to have a function named like `breakOn(condition, testCallback)`, where the condition would be evaluated after eve

[2021-12-08 15:40] ealush commented on #733
Hi @gbcreation, thanks for the feedback and suggestions.
This correlates with a plan I have for adding an "eager" support, which is intended to behave similarly to the way you require:

[code]

Calling eager in this scenario would make it so that tests *of the same name* will be skipped if any of them already failed.

However, each of your approaches have their benefits, which I like.

## breakOn

[2021-12-08 15:47] gbcreation commented on #733
Yes, you're perfectly right! `breakOn()` must take a function as first parameter. Thanks for correcting me.

[2021-12-08 15:50] gbcreation commented on #733
Regarding `beforeEach()`, the name is indeed confusing. Maybe something like `shouldRunTest()`?

[2021-12-08 21:40] ealush commented on #733
Yes, this is better suited, for this scenario. I am thinking if this discussion will lead to some sort of a test interception api, excluding tests before and after their run, and maybe modifying their outputs.

While I'm still looking into it, I am wondering if this consumer-land approach might work for you:

[code]

If you're after more granularity, you can do this within every group, for example

[2021-12-11 23:55] ealush commented on #733
@gbcreation Here's a thought.

What if skipWhen could work both upwards and downwards:

When provided a callback, `skipWhen` skips whatever's in the callback. When a callback is not provided, it behaves as your suggested `shouldRunTest` - skips all the tests in the current scope.

I like it because it doesn't require adding new interfaces to Vest, but I dislike it because it makes the same API do

[2021-12-13 13:11] martinglover opened #735 "isValid returns false with no errors when using skipWhen"
vest@4.0.0-next-6abc96

`skipWhen` is causing `isValid` to return `false` when there are no errors.

Example based on a toggle input, different fields are required the the definition below will return no errors as expected, but the result from `isValid()` is false

I would expect the rules for a skipWhen to provide the same results for errors and isValid

[code]

I have to define `optional` agains

[2021-12-13 21:34] ealush commented on #735
Hey,
Briefly looking - it seems like isValid is working as expected. It is important to understand, isValid is not the negation of isInvalid.
This means that `isValid -> false` does not necessarily mean that the form is invalid, but instead, in your case, it means that it might not be valid-yet.

Vest assumes that all fields in the suite are required by default, unless specifically set as optional

[2021-12-14 12:35] martinglover commented on #735
Thank you for getting back quickly.

I think I may have provided an over simplified reproducing example and confused the issue, below is a closer to real world example

I'm was using `skipWhen` to skip multiple test depending on a checkbox state
When `useNewAddress` is `true` I want `selectedAddress` and `primaryAddress` as required fields and the definitions within the `skipWhen` ignored when `us

[2021-12-14 12:36] bttger opened #736 "`enforce()` with property name passed as string parameter doesn't work"
The [getting started](https://vest.vercel.app/docs/get_started#writing-your-first-suite) shows the usage of `enforce` with the property name passed as a string parameter. The field always stays blank regardless of the data object and thus it always `hasErrors`.

[code]

It only works with `enforce(data.email).isNotEmpty().isNotBlank();`.

Is this intended? It caused a lot of confusion because I ha

[2021-12-14 13:21] bttger opened #737 "`skipWhen()` doesn't work as expected if condition has been true once before"
The `skipWhen` condition works as long as the first test `hasErrors`. After it has no errors anymore the second test runs. This is as expected so far.

But what I did not expect is that the second test continues to run with further inputs when the first test `hasErrors` again. I would expect that it gets skipped because the skipWhen condition is `true` again.

[code]

_Environment:
Node: 16.11
Ves

[2021-12-14 14:17] ealush commented on #736
@bttger, thanks for reporting this.

I think this is an error on the docs. Enforce doesn't infer the data from the passed object, but instead, you need to pass it whatever data is actually needed. I published a fix to the docs. Really sorry about the confusion.

By the way, you can drop the `if (fieldName)` before `only`. `only` is able to deal with undefined values :)

[2021-12-14 14:28] bttger commented on #736
Thank you for fixing it. And thanks for the `only` hint, I found it in the docs now.

[2021-12-14 14:28] #736 closed, assigned to nobody

[2021-12-14 14:36] ealush commented on #737
Hey @bttger, thanks for reaching out.

I just tried to run a similar experiment and was unable to reproduce, but maybe I misunderstood the scenario.
Here's my sandbox: https://codesandbox.io/s/react-issues-737-xen0u?file=/src/suite.js
Not sure what framework you're using so I just used the react template. Can you fork the sandbox so it introduces the same result?

In the sandbox I added an alert a

[2021-12-14 14:37] ealush commented on #576
Irrelevant due to v4 coming out soon.

[2021-12-14 14:37] #576 closed, assigned to nobody

[2021-12-14 14:38] ealush commented on #577
Irrelevant due to v4 coming out soon

[2021-12-14 14:38] #577 closed, assigned to nobody

[2021-12-14 15:27] bttger commented on #737
The same thing happens in the sandbox that you provided. You can see it when joining the messages array in the `components/Input/index.js` file (e.g. `{messages.join(" // ")}` in line 19).

[2021-12-14 15:32] bttger commented on #737
https://codesandbox.io/s/react-issues-737-forked-ocp8l?file=/src/components/Input/index.js

You can enter e.g. 'ddd' (error: too short), 'ddddd' (no error), 'dddddcat' (error: cat not allowed), 'dcat' (error: both errors, tho the cat error should be skipped)

[2021-12-14 15:44] ealush commented on #737
Ok. Now I understand.
Yes, there seem to be some unexpected behavior here, but one thing I can tell you for certain - the field is indeed being skipped.

What you're seeing is a bit of an odd case, and I guess I'll need to figure out how to solve it. It is somewhat tricky. skipWhen behaves like the broader `skip`, only focused - meaning:

The field is indeed being skipped during your secondary run

[2021-12-14 15:51] ealush commented on #735
I see. Yes, this adds some clarity. At the moment, optional is the best way to achieve what you're after. There are a few alternatives, but they might put some more burden n you during development. For example, if you can **guarantee** that for the lifetime of the suite `data.useNewAddress` will remain unchanged, you can wrap it with an if/else block, and have Vest "not see" the ignored fields - b

[2021-12-14 15:52] bttger commented on #737
Ah ok, then it makes sense why the alert is indeed being skipped but the errors still stay the same. And yes, I then agree that it would probably make more sense to handle it like an `omit` case rather than skipping evaluation and caching the errors. Yes, just let me know and I'll test it.

[2021-12-14 23:44] ealush commented on #737
@bttger
I just released `vest@4.0.0-dev-fc2efe`. I also updated the sandbox to use this version: https://codesandbox.io/s/react-issues-737-xen0u?file=/src/suite.js

You can `npm i vest@4.0.0-dev-fc2efe` to install it.

It seems like in our use-case, it works as expected, and matches your desired behavior. I still need to see how it behaves in other situations. This change broke a couple of Vest's

[2021-12-14 23:52] ealush commented on #735
@martinglover I just released `vest@4.0.0-dev-fc2efe` for testing

You can `npm i vest@4.0.0-dev-fc2efe` to install it.

It might be useful in your situation. It is a slight change, but you can see it as skipWhen-meets-optional. The way functional-optional works is by omitting tests that returns `true` in the optional function. This testing version does the same for all tests within `skipWhen`. I

[2021-12-15 15:21] bttger commented on #737
Thank you for implementing it so fast. I have installed the new version and my forms are working as expected now. In my opinion, this is now the behavior I'd expect from `skipWhen` and I'd love to see it in Vest 4. Thanks for your work!

I've run the tests locally to see which ones are affected but I can't really see how they are correlated :sweat_smile:

[2021-12-15 21:04] ealush commented on #737
@bttger thanks for trying this and reporting back. Your feedback is very helpful in determining the future of this API.

I did find the `odd` case in which this change doesn't play nicely. Here's a sandbox: https://codesandbox.io/s/react-skipwhen-omits-knm31?file=/src/suite.js

Imagine you have a legitimate case for skipping a field during runtime, yet you don't want to completely omit the test, a

[2021-12-15 22:43] bttger commented on #737
Yes that's right. The odd case is now that the `skipWhen` condition is put on another field which doesn't get tested because of the `only()` call. (Though this suite wouldn't work in real life anyways because I can modify the password again after I have inserted the confirmation. They don't equal anymore but the suite is still valid if the confirmation input was correct once.)

I support this. `om

[2021-12-16 15:59] ealush commented on #737
@bttger
Thanks for the quick feedback. This really helps me iterate quickly on these ideas.

I released `4.0.0-dev-cc2a13` which introduces `omitWhen`, and retains skipWhen as it is. I'll add it to `vest@next` release once I write the tests and update the documentation for it. In the meantime, can you please let me know if it works the way you intend it to?

Here you can see it running on the sand

[2021-12-16 16:47] ealush commented on #737
BTW, here's the change that supports omitWhen if you're interested :
https://github.com/ealush/vest/pull/738

[2021-12-17 16:06] martinglover commented on #735
Sorry for the delayed response, I've tested the latest `next` release with the `omitWhen` and it performs exactly as needed for my scenario

Thank you for the quick implementation of this update

[2021-12-17 17:04] ealush commented on #735
Amazing! Glad that I was able to make that work out for you.

Thanks for all the feedback and making the scenario clear. It really helped me shape this feature 🙏

[2021-12-17 17:39] #735 closed, assigned to nobody

[2021-12-17 17:41] ealush commented on #737
If you now install vest@next you'll have access to omitWhen, I also updated the [docs](https://vest.vercel.app/docs/writing_your_suite/including_and_excluding/omitWhen )

[2021-12-18 00:54] #676 closed, assigned to nobody

[2021-12-18 00:54] #697 closed, assigned to nobody

[2021-12-19 20:06] bttger commented on #737
Good idea, though I wouldn't need it. As you said, I am validating all fields together anyways before submitting. But maybe someone else has the need for it.

Thank you for the quick `omitWhen` extension. I've updated to the next branch and only had to rename the skipWhen occurrences. It works nice now :)

I just created a PR (https://github.com/ealush/vest-website/pull/1) for explicit mention abo

[2021-12-20 20:14] ealush commented on #737
Thanks for that. I merged your PR over there 🙏🏻

Also, thank you for all the help and helping me quickly iterate over solutions.

Closing this issue for now :)

[2021-12-20 20:14] #737 closed, assigned to nobody

[2021-12-26 22:14] ealush commented on #711
Hey, sorry for replying late. I have been working hard on the new version of Vest, which introduces a new way of handling dynamic tests.

Version four of vest requires that you use its built-in field iteration function, [each](https://vestjs.dev/docs/writing_tests/advanced_test_features/dynamic_tests). The reason is that imperative iteration over tests (as you do with a for-loop) might remove the

[2021-12-26 22:15] #711 closed, assigned to nobody

[2022-01-06 20:44] alveshelio opened #756 "Support for enums"
Hi,

First of all, a big thank you for this package. I've recently discovered it and decided to give it a try and I really like the simplicity compared to others out there.

I'd like to know if you have any plans to support enums.

Let's say, a select can only be one of the values of an enum, instead of use `.isString()` we could use `isInEnum(MyEnum)`. Unless this is already supported by the libr

[2022-01-07 14:50] ealush commented on #756
Hey @alveshelio, thanks for reaching out.

The short answer to your question is yes, what you want done can be achieved pretty easily with [inside](https://vestjs.dev/docs/enforce/enforce_rules#inside), it allows you to check that a value is within an array.

[code]

The thing is that a typescript enum is not an array, but it transpiles down to an object, so it's not useful just like that. You nee

[2022-01-07 15:03] alveshelio commented on #756
Hi @ealush,

Thank you very much for getting back. I think `inside()` might be enough.

[2022-01-07 15:03] #756 closed, assigned to nobody

[2022-01-07 21:21] ealush opened #757 "Add new rule `isKeyOf`"
Add a new rule that checks whether a value is a key of an object.

[code]

It should pass if the value passed to enforce is a key in the passed object.

To start:

1. Add the new rule file under https://github.com/ealush/vest/tree/latest/packages/n4s/src/rules
2. Add tests for that rule under https://github.com/ealush/vest/tree/latest/packages/n4s/src/rules/__tests__
3. Reference and export that r

[2022-01-07 21:22] ealush opened #758 "Add rule `isValueOf`"
Add a new rule that checks whether a value is a value in an object.

[code]

It should pass if the value passed to enforce is a value in the passed object.

To start:

1. Add the new rule file under https://github.com/ealush/vest/tree/latest/packages/n4s/src/rules
2. Add tests for that rule under https://github.com/ealush/vest/tree/latest/packages/n4s/src/rules/__tests__
3. Reference and export th

[2022-01-07 22:44] galezra commented on #757
I'll take that :)

[2022-01-08 00:35] davidmeirlevy commented on #758
I’ll take that :)

[2022-01-08 01:01] ealush commented on #758
Awesome. Let me know if you have any questions.

[2022-01-08 01:02] ealush commented on #757
Awesome. Let me know if you need anything from me

[2022-01-08 07:51] saard commented on #758
@ealush is something wrong with my PR?
https://github.com/ealush/vest/pull/760

[2022-01-08 09:36] BelferMan commented on #249
Hey @ealush!
It's still open? I can take it

[2022-01-08 18:26] davidmeirlevy commented on #758
Maybe @ealush didn't notice this PR is connected to that issue.
@ealush his PR looks fine. I would maybe add some more tests cases, but that's all.

[2022-01-09 13:03] mark-fajardo opened #770 "Suite test not working on IE11"
I am really not sure but, recently I encountered issues regarding the implementation of vestjs on IE11, there are some issues with v3.2.7. Upgrading into ^4.0.0 fixed the issue.
But after that, it seems like the validations are not working with IE11. For example is when I use `isTruthy`, with a boolean `true` value, it returns a validation error. Are there any polyfills that I can use for this or

[2022-01-09 13:19] ealush commented on #770
Hey @mark-fajardo, the issue is probably not with `isTruthy` itself, here's the entire function implementation:

[code]

Let's try to figure out what the issue could be. Can you please share a codesandbox with a repro and reproduction steps that I can play with? It will be much easier for me to debug it with a live reproduction of the bug.

Thanks!

[2022-01-09 13:47] mark-fajardo commented on #770
Hello @ealush, maybe I can share a codesandbox of it. But before that, Yes, I think there is no problem with the `isTruthy`,  as it is working with my Chrome. My problem was like, all of the validations are not working with IE11.
Do you think is there a problem in regards to polyfill?

This is my suite:
[code]
Already tried logging the `data` and the value of `taiwan_setup` was true. But `getError

[2022-01-10 02:07] mark-fajardo commented on #770
Hi @ealush, sharing with you my sample code implementation of vestjs to my project.
https://codesandbox.io/s/rough-grass-9icx9?file=/src/main.js

This is working in Chrome, but not in IE 11.
Thank you in advance!

[2022-01-10 21:47] ealush commented on #758
Thanks @davidmeirlevy, yeah, it seems that you both reacted to this issue at the same time, @saard through a PR and you here. No worries.

[2022-01-10 21:50] #758 closed, assigned to davidmeirlevy

[2022-01-10 22:47] ealush commented on #770
Hey @mark-fajardo, took me a while. It was pretty difficult for me to get to a ie11 setup that I can reproduce the issue in. I think I was finally able to track it down. From what it seems, this is not a polyfill problem, but an actual bug that only applies to ES5. I think I have a solution for it.

Can you please try installing `vest@4.0.2-dev-72921c`, this version contains this fix: https://gith

[2022-01-11 08:33] mark-fajardo commented on #770
Hi @ealush, tried to apply the `vest@4.0.2-dev-72921c` version, but sorry to tell you, this doesn't fix my issue.

Sorry for the late update, but in the meantime, I created a temporary validation file for our current project. But still waiting for the fix, as this is my favorite plugin for my validations in my other projects. Thanks for your effort!

[2022-01-11 09:30] ealush commented on #770
@mark-fajardo hm. This is weird. I did see the bug you mentioned in vest@4.0.0, and I also noticed the error going away in `vest@4.0.2-dev-72921c`.

## An example of Vest not working correctly on ie11
<img width="1352" alt="ie11-nw" src="https://user-images.githubusercontent.com/11255103/148916839-bfa270e0-6b0f-4405-9d08-567fb97b697d.png">

## An example of Vest working correctly on ie11
<img widt

[2022-01-11 09:42] ealush commented on #770
Ah. I think I understand why you didn't get the fix. The fix is within the `n4s` package, which should be updated separately. I am releasing another version now, and I believe it will then have the fix available to you. Should be out within 20 minutes, and I will send the version number here.

[2022-01-11 09:56] ealush commented on #770
@mark-fajardo, I just published `vest@4.0.2-next-adfb43`, which is the same as the previous fixed version, only this time I am also bumping the enforce version as well. Please let me know if it works now.

[code]

[2022-01-11 10:41] mark-fajardo commented on #770
Hi @ealush, the package `vest@4.0.2-next-adfb43` is now working on my IE. Greatly appreciated! Thanks for your help! 🥂

[2022-01-11 10:53] ealush commented on #770
Awesome. I'll add it to the public version in about a week or so. All you have to do is upgrade to 4.1.0 next week.

[2022-01-11 10:54] mark-fajardo commented on #770
Okay, this is noted. Thanks again!

[2022-01-11 10:54] #770 closed, assigned to nobody

[2022-01-12 19:09] alveshelio opened #773 "using compose with isArrayOf throws error"
Hi,

I have this validation
[code]

But this is throwing a TypeScript error
TS2345: Argument of type 'TComposeResult' is not assignable to parameter of type 'TLazy'.
Type 'TComposeResult' is missing the following properties from type 'IRules<LazyRuleMethods>': isArrayOf, loose, shape, optional, and 57 more.

If I define `Technology` like so
[code]

Then I get this error
![image](https://user-image

[2022-01-12 22:41] ealush commented on #773
Hey @alveshelio, thanks for the detailed report, it really helped me debug the issue. I just tested and I can confirm this issue reproduces on my end as well. I think I found its cause, it looks like the type definition for isArrayOf was too broad and it couldn't make sense of the compose return type which was not as broad. I changed it to use the bare minimum required for a validation, and it see

[2022-01-13 14:43] #757 closed, assigned to galezra

[2022-01-13 19:25] #773 closed, assigned to nobody

[2022-01-13 19:34] ealush commented on #773
@alveshelio after some more testing, I released 4.0.3. Please let me know if that solves it for you.

[2022-02-12 09:44] danielleng commented on #711
Thanks for taking the time to respond! I will try out v4.

[2022-02-15 09:05] pbowyer opened #791 "[Documentation] Cannot scroll some pages / Chrome"
Bit of a weird one in Chrome 98 on Windows 10 (tested in Normal and Incognito modes).

On certain pages (this is not all, just a sampling)
- https://vestjs.dev/docs/understanding_state
- https://vestjs.dev/docs/writing_your_suite/including_and_excluding/skip_and_only
- https://vestjs.dev/docs/concepts
- https://vestjs.dev/docs/writing_your_suite/including_and_excluding/omitWhen
- https://vestjs.de

[2022-02-15 12:19] ealush commented on #791
Ooh. That's a weird one. I am using docosaurus with a pretty minimal setup, so I am not sure what it could be. I do not experience it myself, which makes me wonder:
1. Does it happen consistently every time you reload these pages?
2. Are there any js errors displayed in the console?
3. Could it be some chrome extension interfering with scroll position?

Thanks for reporting that!

[2022-02-19 20:17] ealush commented on #733
@gbcreation, not sure if you're still interested in this feature, but I will be soon adding the "eager" mode functionality #793, I believe your breakOn suggestion works in the "plugin" realm. I am researching the possibility of allowing consumers to "intervene" at certain points in the suite and maybe make alternative decisions.

[2022-02-19 20:20] #712 closed, assigned to nobody

[2022-02-20 20:37] #733 closed, assigned to nobody

[2022-02-24 08:23] rtkac commented on #206
Just instead of
`enforce(data.password).isNotBlank();`
do this
`enforce(data.password).isNotEmpty();`

[2022-03-06 19:41] ealush opened #808 "[EASY] Add singular form error selectors"
Add singular form of the following:

getErrors() -> getError()
getWarnings() -> getWarning()

The idea is to return the first error/warning of a field, instead of an array.
Unlike getErrors/getWarnings that can either take 0 or 1 arguments, getError/getWarning must receive a field name.

Function signature:
[code]

General guidelines:

Add the functions here:
https://github.com/ealush/vest/blob/la

[2022-03-07 13:07] shani-arnon commented on #808
Hi 👋🏼
I'd like to take this task

[2022-03-10 15:12] roblevintennis opened #809 "Validation errors only after "touched""
First of all, @ealush thank you for this marvelous form validation library. I really like the creative solution to use the same DSL we use for testing for validation. I also love that it's framework-agnostic. I also love that it's an importable small script.

I'm building some examples on my blog on how to incorporate AgnosticUI http://agnosticui.com/ and use Vest for the validation. It's going qu

[2022-03-10 15:50] ealush commented on #809
Hey @roblevintennis, thank you for your feedback, I always love learning about new integrations with Vest.

I am not near a computer, and it might take some time for me to give a more detailed reply. Nevertheless, I do intend to give a more in-depth reply.

I'll try to briefly describe the core concepts:

The reason Vest does not have the notion of `touched` is that vest is not a UI framework, mea

[2022-03-10 16:44] roblevintennis commented on #809
Thanks @ealush that's very helpful indeed!

The `suite.js` code is mostly a copy of your example which already does the `only(currentField)` anyway so we're good there -- now that I properly understand the "concerns" being managed by Vest I think my issue is resolved.

It was of course very easy to add the following in my code which results in the suite only getting called once a field has been _t

[2022-03-10 16:44] #809 closed, assigned to nobody

[2022-03-10 19:01] ealush commented on #809
@roblevintennis
Awesome! Very happy to hear that it worked as expected.

Also, just taken a look at AgnosticUI - that's some impressive project you got going there. I am definitely going to keep an eye on it!

[2022-03-11 02:03] roblevintennis commented on #809
Thanks @ealush I really appreciate it from you 🙂

I will ping you but I have a Svelte based blog where I'm starting to dig food agnostic-svelte and the very first example I thought of was using Vest. I saw your presentation at Svelte conference (I think or maybe Vue) but was very impressed by the idea and that it's not tied to any framework. So I had to see how they work together and I am NOT disa

[2022-03-14 09:07] neviaumi commented on #677
https://vestjs.dev/docs/writing_your_suite/result_object#geterrors-and-getwarnings

What problem of `getErrors` here 🤔?

[2022-03-14 10:02] shemayas commented on #677
@davidNHK That gives you the errors for one suit, I asked if there is a way to get the errors of all the existing suits

[2022-04-12 09:02] ealush opened #837 "Field is considered `valid` when it has tests both inside and outside omitWhen"
This is an edge case I didn't think of.

When we have a field with errors, that has tests both inside and outside omitWhen, the field will be considered `valid` automatically, even though it has non-omitted-errors, like so:

[code]

In this example, f1 would wrongfully be considered valid.

The reason for this is in this line: originated in this line https://github.com/ealush/vest/blob/latest/pack

[2022-04-14 23:04] #837 closed, assigned to ealush

[2022-05-16 15:25] anthony-tron opened #871 "Why `enforce(new Date()).isNotEmpty()` throws"
On 4.3.4, as per [the documentation](https://vestjs.dev/docs/enforce/enforce_rules#isnotempty) says:

[code]

However,

[code]

## Expected Behaviour

It passes.

## Actual Behaviour

It throws.

## What I've tried

[code]

Thank you in advance :)

[2022-05-16 16:19] ealush commented on #871
Hey @anthony-tron, thanks for stopping by 👋

TL;DR
A Date object is empty, while still being a truthy value.

 I believe your question is something that's worth discussing. At least in terms of internal implementation, both isNotEmpty and isTruthy behave as implemented.

So why does `new Date()` appears to be empty?

A Javascript Date is an Object

[code]

When going over an object using [isEmpty/

[2022-05-16 17:59] anthony-tron commented on #871
Thank you very much for replying! I had no idea `Object.keys(date)` would return `[]`.

The implementation is correct then! Maybe it's worthing adding a little note in the docs.

I needed both required date fields, and date comparaisons. I already found the workaround you mentioned:
[code]
I love this library, keep up the good work :D

[2022-05-16 17:59] #871 closed, assigned to nobody

[2022-05-17 01:52] roblevintennis commented on #632
Hey, I don't know if this is helpful, but I arrived here trying to add translations into my use of Vest too!

I found a solution which feels pretty straight forward:

1. Simply pass in the translation function as an additional arg to `create` e.g. `t` the third argument and then use it for any `test` message arg:

[code]

Also note I of course used my `i18n` mapping calling `t('someKey')`.

Here's

[2022-05-17 21:09] ealush commented on #632
Nice, @roblevintennis!

Here's an idea for a perf improvement.

I saw this in your example:

A thing to note is that the only() function can take an array of field names [source](https://github.com/ealush/vest/blob/latest/packages/vest/src/hooks/exclusive.ts#L11). If you modify your `validate` function to not use them one by one, you can omit the `forEach` call and run your suite just once on lang

[2022-05-18 05:16] roblevintennis commented on #632
I really dig the advice on the `only` call especially. But I have a question which requires showing more of the code I think:

[code]

And then in `suiteVue.ts` I have:

[code]

I do want to be able to generally do per field validation as the nominal case. The only time (I think) that I want to do the `only(arrayOfFields)` is when the language has changed (the `watch` in my example).

All to ask,

[2022-07-27 15:32] jhowlett-scottlogic commented on #808
@shani-arnon are you still working on this?

[2022-08-10 20:20] Jefiozie opened #919 "Incorrect paths in typing"
In an exploration of vest in a Angular project I'm seeing several issues with the type information that is provided in the package `n4s`. The error prompted by the compiler is show below and is stating that it cannot find a "module"

![image](https://user-images.githubusercontent.com/17835373/184010815-c0863597-3d34-40c5-96f8-568a922f03e5.png)

In my exploration to see if I can find the root cause

[2022-08-11 00:24] ealush commented on #919
Hey @Jefiozie, thank you so much for reporting this. I wouldn't have caught it.

I've been sitting on this for the past four hours, and I seem to have pretty solid grasp of the issue, and I also have a solution in development. The issue is related to what you pointed out, but not quite. During build, I don't use the values from tsConfig as they are - so while it is related, it is not exactly the i

[2022-08-11 00:27] ealush commented on #919
Also, if you actually want to see the details of this change: https://github.com/ealush/vest/pull/920

[2022-08-11 12:36] ealush commented on #919
@Jefiozie, I ran a few more tests, and Vest@4.6.2 seems to fix this issue on my end. Can you try as well?

Here's everything that changed to support this: https://github.com/ealush/vest/commit/4c9f3b83c90a14c430acd728b619dd8c0c669c04

<img width="691" alt="image" src="https://user-images.githubusercontent.com/11255103/184134697-3883189b-ed28-4dd8-b5b3-8f1d5ea0315a.png">

[2022-08-11 14:14] Jefiozie commented on #919
Hi, using the dev package I'm seeing a lot more errors then before I'm not sure if this is working as intended. But the `4.6.2` version has resolved my issue, I'm not sure if there is any difference in between them?

Thank you for resolving this so quickly! I'm looking forward on using your package a bit more then I've had at the moment.
I think we can close down this issue now, thanks @ealush

[2022-08-11 14:21] ealush commented on #919
@Jefiozie  Yes, there's quite a difference between the dev version and 4.6.2, especially in terms of the dependency resolution.

I am quite satisfied with the new structure as it makes each package less aware of its surroundings, and only rely on the outfacing api of the other packages.

Again, thank you for reporting this issue and doing the research to find the issue. Glad that it worked for you

[2022-08-11 14:21] #919 closed, assigned to nobody

[2022-08-14 20:14] shani-arnon commented on #808
@jhowlett-scottlogic 👋🏼
Yes, sorry for the late response

[2022-08-15 07:52] jhowlett-scottlogic commented on #808
@shani-arnon  Sorry but i do not have the time to work on it now. I had a period of free time but i am now busy again with other commitments

[2022-08-17 06:46] Coobaha opened #931 "better TS support"
Hi! @ealush 👋

Firstly, thanks for your work on this project! 🙂

Locally we are using patched version of vest, so that we can have strict fieldNames and groups. Here is a rough patch which works fine in our project, but probably not very user friendly API and can be improved

<details>
<summary>Patch</summary>

[code]

</details>

usage example (again it is not that user friendly, but works for lo

[2022-08-17 09:42] ealush commented on #931
Hey @Coobaha, so glad that you're enjoying Vest. Also, I'm super impressed with the changes you've made to make Vest suit your needs.

I completely see the value in your proposal, and I'm thinking how we can do it without making it a breaking change.

The main problem is that Vest (intentionally) exposes individual exports, so your type of generics won't work with the current version of vest out o

[2022-08-17 09:52] Coobaha commented on #931
@ealush thanks for your kind words :) I am definitely keen to improve vest's TS story! I've been thinking about factory but this probably defeats tree shaking, so i've opted in for a pure type level augment in our project.

[2022-08-17 10:49] ealush commented on #931
My suggestion is that we modify all the existing builtin vest types to support these same generics that you provided, that you won't have to patch vest for every version being released. It won't change anything for existing consumers, but if they want to make the types more explicit, it will be available to them.

[code]

[2022-08-17 10:58] Coobaha commented on #931
So basically what I did in the patch? My original patched version was exactly `Field extends string` everywhere but i've removed string so I can force it to be unknown/never

I think with this approach important thing to get done right is so that arbitrary `string` wont be allowed. At least this was my goal in patch. Do you want me to open an initial PR so we will iterate there?

[2022-08-17 12:09] ealush commented on #931
Exactly. This could probably be done gradually. I will create a draft PR sometime in the next couple of days, we can discuss the solution further there.

[2022-10-22 21:23] MentalGear opened #963 "feat: Strict Mode"
I'd like to open a discussion for a proposal on a `Strict Mode`, i.e.: An error is returned if not at least `one rule` exists for `every property` in the object to check.

IMO, this would feature-complete vest in a sense that it could be reliably used to not only test "what's there" but also what isn't but should. e.g. if forms or data parameters change (but validation was neglect). Please let me

[2022-10-25 18:10] ealush commented on #963
Hey @MentalGear, thank you for taking interest in improving Vest.

That’s an interesting one, and the way I see it, it can be the other side of #931. There they ask for type safety - so that only fields that are declared initially will be allowed by typescript in the different fields. You want to make sure that all fields in the data object are covered.

I think that these two together can make up

[2022-10-25 21:10] MentalGear commented on #963
Thanks for the interest @ealush and the detailed description. Indeed, type safety would also be great, but it's a bit too much  intricate details for me, at least for the start.

What I imagined was a simple flag based approach during init (`strict: true`), that would just check if the input object has keys which are not in a vest rule. For example:

[code]

I think this would already bring a lot

[2022-10-26 15:50] jonnytest1 commented on #963
i think it may be nicer (just from the flow)

to structure it like this
[code]
If you also want to me sure every property has a validator (and typescript to check their existence) you probably have to do something like

[code]

For the strict types it may be worth it to switch to a ready made schema library like zod which already supports this and should be  relatively easy to include

[2022-10-28 10:10] MentalGear commented on #756
Great example, would be nice to have it in the docs re: handling enum/select ! @ealush

[2022-10-28 11:59] MentalGear commented on #963
Thx for the example, but it seems like it would introduce a new method that is basically the same as suit. Also, this would mean that we would need to rename the calls when we want to use strict.

I'd rather prefer a simple flag:
[code]

[2022-10-28 15:41] jonnytest1 commented on #963
renaming has some validity to it since if it really is supposed to be typed the api has to work differently so types can be passed along through the chain

i.e. the method "test" needs to be passed along from the typed suite function or it will not be able to provide type info

[2022-10-29 00:46] ealush commented on #963
Hey, this is a pretty interesting discussion.

While I do see it bring some added value, I also see some of the possible pitfalls:
1. When the user fills up the form, you may not have all the fields initialized in your data object just yet, meaning that strict mode will pass immediately, if you have just enough tests to cover the current data object (even if there are other inputs in the form).
2.

[2022-10-30 22:52] ealush commented on #756
Thanks @MentalGear, [added to the docs](https://github.com/ealush/vest/commit/6b06ee49a8e1252c5a90fee60cadb364a10ed31c) will be automatically published with the next patch to vest.

Thank you for keeping an eye out for things like this.

[2022-11-07 07:40] Yedidyar opened #975 "Does vest supports any integation with zod?"
If It supported where can i find examples?

[2022-11-18 04:07] quinnah commented on #808
Hi! Could I work on this?